.wrapper {
  padding-top: 89px;
  padding-bottom: 96px;
  align-items: center;
}
.gridContainer {
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 50px;
}
