@import "../../styles/colors";

.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
}
.user {
display:flex;
flex-direction: row;
}

.name { 
    color: $text_primary;
    font-size: 16px;
    font-weight: 800;
   
}

.info {
    
    font-size: 0.875rem;
    font-weight: normal;
    font-weight: bold;
    color: $success_main;
}