.wrapper {
  padding-top: 100px;
  position: inherit;
  width: 1574px;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  font-size: 4rem;
}
.collectors {
  display: -webkit-inline-box;
  gap: 20px;
}
