@use "../../styles/colors";

.wrapper {
  padding: 0rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.media {
  border-radius: 15px !important;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 15px !important;

  &__info {
    h4 {
      margin: 0;
      font-weight: bold;
    }
    p {
      margin: 0;
      color: #24f25e;
      font-weight: bold;
    }
  }
}

.chip {
  align-self: center;
}
