@use "../../styles/colors";

.wrapper {
  padding: 0rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.media {
  border-radius: 15px !important;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 15px !important;

  &__info {
    h4 {
      margin: 0;
      font-weight: bold;
    }
    p {
      margin: 0;
      color: #24f25e;
      font-weight: bold;
    }
  }
}

.chip {
  align-self: center;
}
.liveCard {
  display: flex;
  width: 10%;
  height: 10%;
  position: absolute;
}

.grid {
  width: fit-content !important;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  border-radius: 7px;
  background-color: colors.$success_main;
  width: 100px !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
}
.live {
  color: black;
  font-weight: bold;
  font-size: x-large;
}
.counterWrapper {
  background-color: colors.$success_main;
  border-radius: 0px 0px 15px 15px;
  height: 27px;
  width: 257px;

  position: absolute;
  top: 211px;
  text-align: center;
  align-items: center;
}
.counter {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #181828;

  width: 100%;
  display: grid;
  height: 100%;
  align-items: center;
}
