.product-info-status{
    position: relative;   
    left: 400px;
    top: 95px
}
.status {
    width: 75px;
    height: 33px;
    font-size: 14px;
    font-weight: bold;
    color: black;
 
    border-radius: 7px !important;
}