@use "../../styles/colors";

.product-info-status {
  position: relative;
//   left: 156px;
//   top: 112px;
}
.status {
  width: 75px;
  height: 33px;
  
}
.chip {
  font-size: 14px;
  font-weight: bold;
  color: black !important;
  width: 75px;
  background-color: colors.$secondary_main !important;
  height: 33px;
  border-radius: 7px !important;
}
