.product-tabs {
  margin-top: 5%;
  margin-bottom: 40%;
  border-radius: 0px !important;
}

.table-row-{
position: relative;
color:  white !important;
}


.tab-bids {
  width: 20%;
}
.tab-details {
  width: 20%;
}
