.product-info-title {
   position: relative;
  // // top: 78px;
  
}
.title {
  font-size: 60px;
  font-weight: 900;
  // line-height: 73px;
  // text-align: center;
  // height: 73.14px;
  // position: relative;
  // // left: 29px;
}

