.product-info-title {
  position: relative;
  top: 78px;
  left: 68px;
}
.title {
  
  font-size: 74px;
 font-weight:bold;
  line-height: 73px;
  text-align: center;
  width: 398px;
  height: 73.14px;

}
