.product-info-title {
  position: relative;
  // top: 78px;
  
}
.title {
  font-size: 74px;
  font-weight: bold;
  line-height: 73px;
  text-align: center;
  height: 73.14px;
  position: relative;
  // left: 29px;
}

.line {
  background-color: #4e24f2;
  opacity: 20%;
  width: 577px;
  height: 3px;
  fill: solid;
  position: relative;
  // top: 28px;
  // left: 99px;
}
