.container {
  max-width: 1494px !important;
  position: relative;
  padding-top: 176px;
}

.imageList {
  gap: 18px !important;
}

.image {
  border-radius: 15px !important;
  height: 226px !important;
}

.imageListItem:nth-child(1) {
  height: 482px !important;
  width: 699px;
}
