@use "../../styles/colors";

.wrapper {
  height: 90px;
  width: 1920px;
  display: flex;
  justify-content: center;
  background-color: colors.$background_paper;
}
.searchBar {
  margin: 30px;
}
.signUpBtn {
  color: #4e24f2 !important;
}
.exploreBtn {
  color: white !important;
}
