@use "../../styles/colors";

.wrapper {
 padding: 0px;
}
.container {
  display: flex !important;
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  align-items: center-end;
  justify-content: space-evenly;
}
.searchBar {
 
  position:static;
 
  padding-top: 30px;
  padding-right: 50px;

  /* base-primary-cotrast */
  background: #0c0c14;
  border-radius: 30px;
}

.logo {
  position: absolute;
  left: 1.07%;
  right: 79.9%;
  top: 7%;
  bottom: 26.53%;
}


