@use "../../styles/colors";

.wrapper {
   width:1920px;
   height: 98px;
   background-color: colors.$background_paper;   
}
.footerContainer {
    padding: 15px !important
}
.allRights{
width: 208px;
height: 17px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color:rgba(225, 225, 252, 0.5);
position: absolute;
left: 856px !important;

}



