@use "../../styles/colors";

.wrapper {
   width:1920px;
   height: 98px;
   background-color: colors.$background_paper;   
}

.allRights{
width: 208px;
height: 17px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: colors.$text_hint;
opacity: 50%;
}



